@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #259FE2;
    --bg: #121826;
    --bg_light: #1E2A36;
    --white: #ffffff;
}

.dark_bg {
    background-color: var(--bg);
    color: var(--white);
}

.light_bg {
    background-color: var(--bg_light);
    color: var(--white);
}

.blue_border {
    --tw-border-opacity: 1;
    --tw-ring-color: var(--blue);
    border-color: var(--blue);
}

.blue_border_focus:focus-within {
    --tw-border-opacity: 1;
    --tw-ring-color: var(--blue);
    border-color: var(--blue);
    border-width: 2px;
}

.req {
    color: red;
    font-weight: bold;
}
